<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<div [@routerTransition]>
  <h1>Reserva</h1>
  <img src="../assets/images/03.jpg" class="img-circle" alt="Cinque Terre" style="width:500px;height:250px;">
  &nbsp;
  &nbsp;
  &nbsp;
  <img src="../assets/images/06.jpg" class="img-circle" alt="Cinque Terre" style="width:500px;height:250px;">

  <hr>
  <div>
    <div>
        <h3 >ASIENTOS</h3>
        <form style="margin-left: 60px" class="auto-style1">
            
            <tr >
                <td class="auto-style3">A</td>
                <td class="auto-style14">
                    1<img  type="radio" value="1"alt="" src="../assets/images/05.jpg" style="height: 29px; width: 35px" /></td>
                <td class="auto-style15">
                    2<img alt="" src="../assets/images/05.jpg" style="height: 29px; width: 35px" /></td>
                <td class="auto-style15">
                  <td>
                    3<img alt="" src="../assets/images/05.jpg" style="height: 29px; width: 35px" /></td>
                <td class="auto-style15">
                    4<img alt="" src="../assets/images/05.jpg" style="height: 29px; width: 35px" /></td>
                <td class="auto-style15">
                  </td>
            </tr>
            <tr >
                <td class="auto-style3">B</td>
                <td class="auto-style14">
                    5<img alt="" src="../assets/images/05.jpg" style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                    6<img alt="" src="../assets/images/05.jpg" style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                    <td>
                    7<img alt="" src="../assets/images/05.jpg" style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                    8<img alt="" src="../assets/images/05.jpg" style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                  </td>
             </tr>
             <tr >
                <td class="auto-style3">C</td>
        
                <td class="auto-style14">
                    9<img alt="" src="../assets/images/05.jpg" style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                    10<img alt="" src="../assets/images/05.jpg" style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                    <td>
                    11<img alt="" src="../assets/images/05.jpg" style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                    12<img alt="" src="../assets/images/05.jpg" style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                  </td>
             </tr>
             <tr >
                <td class="auto-style3">D</td>
                <td class="auto-style14">
                    13<img alt="" src="../assets/images/05.jpg"  style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                    14<img alt="" src="../assets/images/05.jpg" style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                    <td>
                    15<img alt="" src="../assets/images/05.jpg" style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                    16<img alt="" src="../assets/images/05.jpg" style="height: 25px; width: 34px" /></td>
                <td class="auto-style14">
                  </td>
             </tr>  
            
                   
            </form>
            
            &nbsp;  
    </div>
    &nbsp;
    <form role="form">
      <th>
            <div style="margin-left: 20px">Destinos</div>
            <div style="margin-left: 20px">
       <select class="form-control">
            <option value="1">Esmeraldas</option>
            <option value="2">El Oro</option>
            <option value="3">Guayas</option>
            <option value="4">Los Ríos</option>
            <option value="5">Santa Elena</option>
            <option value="5">Santo Domingo de los Tsáchilas</option>
     </select>
    </div>
    &nbsp;
    <div style="margin-left: 20px">Cuantos asientos desea reservar? </div>
    <div style="margin-left: 20px">
<select class="form-control">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="5">6</option>
    <option value="5">7</option>
    <option value="5">8</option>
    <option value="5">9</option>
    <option value="5">10</option>
    <option value="5">11</option>
    <option value="5">12</option>
    <option value="5">13</option>
    <option value="5">14</option>
    <option value="5">15</option>
    <option value="5">16</option>

</select>
</div>
&nbsp;
        <div style="margin-left: 60px">Fecha De Reserva</div>
        <div style="margin-left: 60px">
        <input class="form-control" type="date" name="fecha">
        </div>

      
        <div style="margin-left: 60px">Fecha De Salida</div>
        <div style="margin-left: 60px">
          <input class="form-control" type="date" name="fecha">
        </div>
    </th>
        &nbsp;
  
   <th>
      <div class="col-12">
          <br>
          <br>
          <br>
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          &nbsp;
          <input type="submit" class="btn rounded-btn" value="Reservar" (click)="addReserva(data)" [routerLink]="['/dashboard']" />
       
        </div>
        </th>
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>