<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="row justify-content-md-center" src="assets/images/descarga.png" width="150px" />
            <h1>Ingrese sus datos</h1>
            <form role="form" method='post'>
                <div class="form-content">
                        <div class="form-group">
                                <input type="text" class="form-control input-underline input-lg" [(ngModel)]="person.per_ci" name="per_ci" placeholder="Cédula de identidad" required>
                        </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" [(ngModel)]="person.name" name="name" placeholder="Apellidos y Nombres" required>
                    </div>

                   
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" [(ngModel)]="person.phone" name="phone" placeholder="Teléfono/Celular +593"required>
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control input-underline input-lg" [(ngModel)]="person.email" name="email" placeholder="Correo Electrónico" required>
                    </div>

                </div>
                <input type="submit"  class="form-submit" value="Registrarse" (click)="post(person)" [routerLink]="['/dashboard']"/>&nbsp;
              
                <hr>
            </form>
        </div>
    </div>
</div>
